mixin button-second(type, text, size, href)
    -type = type === 'link' ? 'a' : 'button'

    #{type}.btn.btn--thirdly(
        href=href
        class=size === 'middle' ? 'btn--thirdly-middle': size === 'small' ? 'btn--thidly-small': '')&attributes(attributes) #{text}
        svg( fill='none', xmlns='http://www.w3.org/2000/svg')
            path(d='M17.5 35C7.85256 35 0 27.1474 0 17.5C0 7.85256 7.85256 0 17.5 0C27.1474 0 35 7.85256 35 17.5C35 27.1474 27.1474 35 17.5 35ZM17.5 1.79487C8.83974 1.79487 1.79487 8.83974 1.79487 17.5C1.79487 26.1603 8.83974 33.2051 17.5 33.2051C26.1603 33.2051 33.2051 26.1603 33.2051 17.5C33.2051 8.83974 26.1603 1.79487 17.5 1.79487Z', fill='#373C41')
            path(d='M26.0346 17.7244L22.6513 23.5757H18.3346L20.5962 19.6718L8.48974 19.6628V15.759L20.5962 15.768L18.3526 11.8641L22.6603 11.8731L26.0346 17.7244Z', fill='#373C41')

mixin button(type, text, size, href)
    -type = type === 'link' ? 'a' : 'button'

    #{type}.btn.btn--primary(
        href=href
        class=size === 'small' ? 'btn--small': '')&attributes(attributes) #{text}
